
@font-face{
	font-family: montserrat-black;
	src: url(../fonts/montserrat-black.ttf)
}
@font-face{
	font-family: montserrat-blackitalic;
	src: url(../fonts/montserrat-blackitalic.ttf)
}
@font-face{
	font-family: montserrat-bold;
	src: url(../fonts/montserrat-bold.ttf)
}
@font-face{
	font-family: montserrat-bolditalic;
	src: url(../fonts/montserrat-bolditalic.ttf)
}
@font-face{
	font-family: montserrat-extrabold;
	src: url(../fonts/montserrat-extrabold.ttf)
}
@font-face{
	font-family: montserrat-extrabolditalic;
	src: url(../fonts/montserrat-extrabolditalic.ttf)
}
@font-face{
	font-family: montserrat-extraligh;
	src: url(../fonts/montserrat-extralight.ttf)
}
@font-face{
	font-family: montserrat-extralightitalic;
	src: url(../fonts/montserrat-extralightitalic.ttf)
}
@font-face{
	font-family: montserrat-light;
	src: url(../fonts/montserrat-light.ttf)
}
@font-face{
	font-family: montserrat-lightitalic;
	src: url(../fonts/montserrat-lightitalic.ttf)
}
@font-face{
	font-family: montserrat-medium;
	src: url(../fonts/montserrat-medium.ttf)
}
@font-face{
	font-family: montserrat-mediumitalic;
	src: url(../fonts/montserrat-mediumitalic.ttf)
}
@font-face{
	font-family: montserrat-regular;
	src: url(../fonts/montserrat-regular.ttf)
}
@font-face{
	font-family: montserrat-regularitalic;
	src: url(../fonts/montserrat-regularitalic.ttf)
}
@font-face{
	font-family: montserrat-semibold;
	src: url(../fonts/montserrat-semibold.ttf)
}
@font-face{
	font-family: montserrat-semibolditalic;
	src: url(../fonts/montserrat-semibolditalic.ttf)
}
@font-face{
	font-family: montserrat-thin;
	src: url(../fonts/montserrat-thin.ttf)
}
@font-face{
	font-family: montserrat-thinitalic;
	src: url(../fonts/montserrat-thinitalic.ttf)
}
@font-face{
	font-family: raleway-regular;
	src: url(../fonts/raleway-regular.ttf)
}
@font-face{
	font-family: raleway-extrabold;
	src: url(../fonts/raleway-extrabold.ttf)
}
@font-face{
	font-family: raleway-semibold;
	src: url(../fonts/raleway-semibold.ttf)
}
@font-face{
	font-family: roboto-regular;
	src: url(../fonts/roboto-regular.ttf)
}
body{
	margin: 0 auto;
}

.container {
	width: 1920px;
	margin: 0 auto;
}
.header {
	width: 1920px;
	height: 1028px;
	background-image: url(img_css/bg-image-header.png);
	background-color: #464541;
	box-sizing: border-box;
}
.header:after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
	
}	
.header-container{
	width: 1920px;
	height: 351px;
}
.header-logo{
	text-decoration: none;
	display: flex;
  	justify-content: center;
	align-items: center;
	float: left;
	margin: 40px 0 0 376px;
}
.header-logo:hover .header-logo-img{
	fill: #c7b299;
}
.header-logo:hover .header-logo-text{
	color: #c7b299;
}
.header-logo-img{
	fill: #fff;
}
/*.header-logo-img:hover .header-logo-text{
	fill: #c7b299;
}*/

.header-logo-text{
	width: 115px;
	color: #ffffff;
	font-family: raleway-regular;
	font-size: 34px;
	font-weight: 400;
	letter-spacing: -1.36px;
}
/*.header-logo-text:hover{
	color: #c7b299;
}*/
.header-menu{
	margin: 67px 284px 0 0;
	float: right;
}
.header-menu-link{
	margin: 0;
    text-decoration: none;
    display: flex;
  	justify-content: space-between;
    list-style-type: none;
    max-width: 900px;
}
.header-menu-link li{
	max-width: 780px;
}
.header-menu-link li a{
	margin: 0;
    display: flex;
    text-decoration: none;
   	color: #ffffff;
	font-family: montserrat-regular;
	font-size: 14px;
	font-weight: 300;
	margin: 0 30px 0 0;

}
.header-menu-link li a:hover{
	color: #c7b299;
}
.header-menu-cart{
	text-decoration: none;
}
.header-menu-cart-svg{
	margin: 0 0 0 30px;
	fill: #ffffff;
}
.header-menu-cart-svg:hover{
	fill: #c7b299;
}
.header-menu-search{
}

input[type="search"] {
  	width: 24px;
  	height: 24px;
  	outline: none;
  	background-image: url(img_css/icon-search.png);
  	background-size: contain;
  	background-repeat: no-repeat;
  	border: none;
	background-color: transparent;
  
}

input[type="search"]:focus {
  	width: 100px;
  	transition: width 1s ease-out;
  	background-position: right;
  	color: #fff;
  	text-transform: capitalize;
	font-family: montserrat-regular;

}
.burger{
	display: flex;
}
.burger-stroke {
     position: relative;
     display: block;
     width: 64px;
     height: 30px;
    
     border-top: 9px solid #fff;
     border-bottom: 9px solid #fff;
     left: 270px;
    top: 45px;
}
.burger-stroke:before {
     content: "";
     position: absolute;
     top: 10px;
     left: 0px;
     width: 100%;
     border-top: 9px solid #fff;
}
.burger input {
     display: block;
    width: 57px;
    height: 50px;
    position: absolute;
    top: 42px;
    left: 490px;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
    -webkit-touch-callout: none;
}
.burger input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #232323;
  width: 36px;
  transition: width, 0.5s;
}
.burger-menu-elem {
    position: absolute;
    width: 400px;
    height: 100vh;
    margin: -100px 0 0 -60px;
    padding: 50px;
    padding-top: 125px;
    background: #fff;
    list-style-type: none;
    transform: translate(-100%, 0%);
    transform-origin: 0% 0%;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.burger input:checked ~ ul {
  transform: scale(1.0, 1.0);
  opacity: 1;
}
.burger-menu-elem li {
  padding: 10px 0;
  font-size: 30px;
}


.header-section{
	display: flex;
	text-align: center;
	justify-content: flex-start;
	box-sizing: border-box;
}

.header-section-arrow-left{
	fill: #9e9d9b;
	margin: 60px 0 0 150px;
}
.header-section-arrow-left:hover{
	fill: #c7b299;
}
.header-section-arrow-rigth{
	fill: #9e9d9b;
	margin: 60px 0 0 490px;
}
.header-section-arrow-rigth:hover{
	fill: #c7b299;
}
.header-section-content{
	margin: 0 0 0 490px;
}
.header-section-content-span{
	/*width: 456px;*/
	color: #ffffff;
	font-family: raleway-regular;
	font-size: 36px;
	font-weight: 500;
	margin: 0 0 16px 0;
}
.header-section-content-header{
	/*width: 589px;*/
	color: #ffffff;
	font-family: raleway-extrabold;
	font-size: 52px;
	font-weight: 400;
	margin: 0 0 16px 0;
}
.header-section-content-parag{
	/*width: 562px;*/
	color: #ffffff;
	font-family: montserrat-regular;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	margin: 0;
	max-width: 562px;
	margin: 0 0 52px 0;
}
.header-section-content-btn{
	width: 170px;
	height: 53px;
	box-shadow: inset 0 -3px 0 #736357;
	border-radius: 3px;
	background-color: #998675;
	text-decoration: none;
	padding: 21px 38px;
}
.header-section-content-btn:hover{
	background-color: #c7b299;
}
.header-section-content-btn-text{
	color: #ffffff;
	font-family: raleway-extrabold;
	font-size: 14px;
	font-weight: 400;
	line-height: 23px;
	text-transform: uppercase;
	
}
.header-pagination{
	justify-content: center;
    margin: 340px 0 0 0;
    display: flex;
}
.header-pagination-link{
	display: block;
  	width: 11px;
	height: 11px;
	background-color: #ffffff;
	opacity: 0.5;
	border-radius: 50%;
	border: 2px solid transparent;
	margin: 0 9px;
}
.header-pagination-link:hover{
	background-color: #998675;
}
.services{
	width: 100%;
	margin: 80px 0 0 0;
}
.services:after{
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
.services-container{
	
}
.services-figure{
	margin: 0;
	display: flex;
	flex-wrap: wrap;
  	justify-content: center;
}

.services-figcap{
	display: grid;
	text-align: center;
	margin:0 34px 0 0;
	max-height: 161px;
}
.services-figcap:hover{
	border-bottom: 
}
.services-figcap:hover .services-title{
	color: #c7b299;
}
.services-figcap:hover  .services-svg{
	fill: #c7b299;
}
.services-figcap:hover:after{
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	background-color: #c7b299;
	margin: 33px 0 0 99px;
}
.services-svg{
 	width: 49px;
	height: 49px;
	text-align: center;
	fill: #747474;
	margin: 0 0 29px 0;
}
/*.services-svg:hover .services-title{
	
}*/
.services-title{
	color: #555555;
	font-family: raleway-semibold;
	font-size: 22px;
	font-weight: 400;
	margin: 0 0 18px 0;
	
}
/*.services-title:hover .services-svg{
	color: #c7b299;
}*/
.services-text{
	margin: 0;
	color: #8c8c8c;
	font-family: montserrat-regular;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	max-width: 266px;
	
}
.services-figcap:hover:after {
  	content: "";
  	width: 70px;
  	background-color: #c7b299;
}	

.browser{
	margin: 199px 0 0 0;
	box-sizing: border-box;
}
.browser:after{
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
.browser-header{
	color: #555555;
	font-family: raleway-semibold;
	font-size: 30px;
	font-weight: 400;
	text-align: center;
	margin: 0 0 24px 0;
}
.browser-text{
	color: #8c8c8c;
	font-family: montserrat-regular;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
	text-align: center;
	width: 757px;
	margin: 0 0 40px 0;
	padding: 0 0 0 584px;
}
.browser-img{
	position: relative;
}
.browser-img:after{
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
.browser-img-centr{
	width: 770px;
	height: 482px;
	background-image: url(img_css/browser-site.png);
	background-position: center;
	z-index: 0;
	position: absolute;
	right: 30%;
}
.browser-img-left{
	width: 770px;
	height: 400px;
	background-image: url(img_css/browser-site-left.png);
	z-index: -1;
	position: absolute;
	left: 345px;
	bottom: -482px;

}
.browser-img-right{
	width: 770px;
	height: 400px;
	background-image: url(img_css/browser-site-right.png);
	z-index: -1;
	position: absolute;
	left: 805px;
	bottom: -482px;
}
.advertising{
	width: 100%;
	background-image: url(img_css/Background.png);
	margin: 522px 0 0 0;
}
.advertising:after{
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
.advertising-content{
	margin: 0 0 0 0;
	float: 	left;
	margin: 48px 0 50px 376px;
}
.advertising-content-header{
	margin: 0 0 0 0;
	color: #ffffff;
	font-family: raleway-regular;
	font-size: 28px;
	font-weight: 400;
}
.advertising-content-header-link{
	margin: 0 0 0 0;
	font-family: raleway-regular;
	font-size: 28px;
	font-weight: 400;
	color: 	#ffffff;
	text-decoration: none;
}
.advertising-content-header-link:hover{
	color: 	#c7b299;
}
.advertising-content-text{
	margin: 0 0 0 0;
	color: #615855;
	font-family: montserrat-regular;
	font-size: 18px;
	font-weight: 300;
}
.advertising-btn-div{
	float: 	right;	
	margin: 70px 374px 50px 0;

}
.advertising-btn{
	width: 170px;
	box-shadow: inset 0 -3px 0 #736357;
	border-radius: 3px;
	background-color: #998675;
	text-decoration: none;
	padding: 19px 29px 20px 28px;
}
.advertising-btn-text{
	color: #ffffff;
	font-family: raleway-extrabold;
	font-size: 14px;
	font-weight: 400;
	line-height: 23px;
	text-transform: uppercase;
}

.advertising-btn:hover{
	background-color: #c7b299;
}
.project{
	width: 100%;
	margin: 80px 0 0 0;
}
.project:after{
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
.project-header{
	color: #555555;
	font-family: raleway-semibold;
	font-size: 30px;
	font-weight: 400;
	text-align: center;
}
.project-text{
	width: 757px;
	color: #8c8c8c;
	font-family: montserrat-regular;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
	text-align: center;
	margin: 0 auto;
}
.project-menu{
	display: flex;
	justify-content: center;
	margin: 0 0 48px 0;
	text-decoration: none;
	list-style: none;

}
.project-menu li{
	margin: 40px 0 0 0;
	
}


.project-menu li button{
	padding: 10px 24px 10px 24px;
	margin: 0 10px 0 0;
	border: solid 1px transparent;
   	border-radius: 4px;

}
.project-menu-btn-text{
	color: #8c8c8c;
	font-family: montserrat-regular;
	font-size: 14px;
	font-weight: 300;
	line-height: 21px;
}
.project-menu li button:hover{
	background: #998675;
}
.project-menu li button:hover .project-menu-btn-text{
	color: #ffffff;
	
}
.project-img{
	display: flex;
    justify-content: center;
    position: relative;
}


.project-article{
	margin: 0 30px 30px 0;
}
	
.project-article-img{
	width: 370px;
	height: 237px;
}
.project-article:hover .project-article-img{
	filter: brightness(20%)
}
.project-article:hover .project-article-wrapper{
	background-color: #362f2d;
}
.project-article:hover .project-article-wrapper:before{
		content: "";
		border: 15px solid transparent;	
  		border-bottom: 10px solid #fbfaf8;
 		position: absolute;
 		top: 212px;
		border-bottom: 10px solid #362f2d;
}
.project-article:hover .project-article-link {
  display: block;
}

.project-article:hover .project-article-search {
  display: block;
}
.project-article:hover .project-article-header {
  color: #ffffff;
}
.project-article:hover .project-article-text {
  color: #c7b299;
}
.project-article-wrapper{
	display: grid;
	background-color: #fbfaf8;
	padding: 30px 0 27px 24px;
	margin: -5px 0 0 0;
}
.project-article-wrapper:before{
	content: "";
	border: 15px solid transparent;	
  	border-bottom: 10px solid #fbfaf8;
 	position: absolute;
 	top: 212px;

}
.project-article-header{
	color: #c7b299;
	font-family: raleway-regular;
	font-size: 20px;
	font-weight: 500;
	margin: 0px 0 19px 0px
}
.project-article-text{
	color: #d1d1d1;
	font-family: montserrat-regular;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;

}
.project-article-search,
.project-article-link{
	width: 26px;
  	height: 26px;
  	display: none;
  	-webkit-background-size: cover;
  	background-size: cover;
 	 background-repeat: no-repeat;
  	background-position: center;
  	border: none;
  	background-color: transparent;
  	position: absolute;
  	top: 106px;
	background-image: url(img_css/link.png);
	
}


.project-article-link{
	background-image: url(img_css/link.png);
	margin: 0 0 0 144px;
}
.project-article-search{
	background-image: url(img_css/lupa.png);
	margin: 0 0 0 198px;
}
.project-more{
	background: #998675;
	padding: 19px 45px 20px 44px;
	justify-content: center;
	margin: 40px 0 0 44%;
	min-width: 232px;
}
.project-more:hover{
	background: #c7b299;
}
.project-more-text{
	color: #ffffff;
	font-family: raleway-extrabold;
	font-size: 14px;
	font-weight: 400;
	line-height: 23px;
	text-transform: uppercase;
}
.video{
	position: relative;
	width: 100%;
	height: 705px;
	position: relative;
	z-index: 0;
	object-fit: cover;
    object-position: center;
    margin:80px 0 0 0;

}
.video-poster{
	width: 100%;
	filter: brightness(50%)
}
.video-content{
	width: 70%;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    left: 15%;
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 24px;
    display: grid;
    justify-content: center;

}
.video-img{
	fill: #ffffff;
	margin: 0 auto;
	background-image: url(img_css/circle.png);
	background-size: cover;
	background-position: left, right;
}
.video-header{
	width: 382px;
	
	color: #ffffff;
	font-family: raleway-regular;
	font-size: 30px;
	font-weight: 500;
	margin: 0 auto;
}
.video-text{
	width: 552px;
	color: #ffffff;
	font-family: montserrat-regular;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
	margin: 0 auto;
}
.mobile{
	width: 100%;
	box-sizing: border-box;
	display: flex;
}
.mobile:after{
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
.mobile-img{
	width: 423px;
	height: 616px;
	background-color: #fff;
	margin:79px 0 0 423px;

}
.mobile-content{
	margin: 195px 0 0 31px;
}
.mobile-content-title{
	color: #555555;
	font-family: raleway-semibold;
	font-size: 30px;
	font-weight: 400;
	margin: 0 0 40px 0;
}
.mobile-content-text{
	color: #8c8c8c;
	font-family: montserrat-regular;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
	margin: 0 0 45px 0;
}
.mobile-content-list{
	margin: 0 0 0 79px;
	min-width: 556px;
}
.mobile-content-list li{
	color: #8c8c8c;
	font-family: montserrat-regular;
	font-size: 16px;
	font-weight: 300;
	line-height: 32px;
	margin: 0 0 12px 0;
	list-style: none;
	position: relative;
}
.mobile-content-list li:before{
	content: "";	
	display: block;
	width: 21px;
	height: 21px;
	position: absolute;
	left: -51px;
	bottom: 7px;
	background-image: url(img_css/arrow.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}	
.counters{
	background-image: url(img_css/Background-2.png);
	width: 100%;
	display: flex;
	justify-content: center;
}
.counters-content{
	margin: 69px 73px 60px 0;
	text-align: center;
}
.counters-content:after{
	content: "";
  	display: block;
 	width: 30px;
    height: 2px;
    background-color: #ffffff;
    margin: 30px auto;

}
.counters-content-img{
	fill: #c7b299;
	margin: 0 0 30px 0;
}
.counters-content-fig{
	display: grid;
}
.counters-content-counter{
	color: #ffffff;
	font-family: montserrat-extraligh;
	font-size: 48px;
	font-weight: 400;
	line-height: 36px;
	margin: 0 0 0 0;
}
.counters-content-text{
	color: #c7b299;
	font-family: montserrat-regular;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	text-transform: uppercase;
	margin: 0 0 0 0;
	padding: 21px 0 0 0;
}
.post{
	width: 100%;
	margin: 0 0 142px 0;
}
.post-header{
	color: #555555;
	font-family: raleway-semibold;
	font-size: 30px;
	font-weight: 400;
	margin: 82px 0 0 0;
	text-align: center;
}
.post-text{
	color: #8c8c8c;
	font-family: montserrat-regular;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
	margin: 30px 0 0 583px;
	text-align: center;
	width: 757px;
}
.post-wrapper{
	display: flex;
	justify-content: center;
	margin: 40px 0 0 0;
}
.post-content{
	
	display: grid;
	margin: 0 30px 0 0;
	position: relative;
}
.post-content:hover{
	background-color: #362f2d;
}
.post-content:hover .post-content-img{
	filter: brightness(20%);
}
.post-content:hover .post-content-header{
	color: #c7b299;
	
}
.post-content:hover .post-content-text{
	color: #ffffff;
	
}
.post-content:hover .post-content-link{
	color: #c7b299;
}
.post-content:hover .post-data-number{
	background-color: #c7b299;
}
.post-content:hover .post-data-day{
	background-color: #a48d72;
}

.post-content-img{

}
.post-content-header{
	color: #555555;
	font-family: raleway-regular;
	font-size: 20px;
	font-weight: 500;
	margin: 30px 0 0 29px;
}
.post-content-text{
	color: #8c8c8c;
	font-family: montserrat-regular;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	width: 341px;
	margin: 10px 0 0 29px;
}	
.post-content-link{
	color: #c7b299;
	font-family: montserrat-regular;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	text-decoration: none;
	margin: 27px 0 33px 30px;
	position: relative;
}
.post-content-link:after{
	border: 4px solid transparent;
    border-left: 5px solid #c7b299;
    content: "";
    position: absolute;
    margin: 7px 0 0 7px;
 } 
.post-data{
	display: grid;
	width: 0;
	position: absolute;
	top: 20px;
	left: 20px;
}
.post-data-number{
	border-radius: 3px 3px 0 0;
	background-color: #363636;
	color: #ffffff;
	font-family: montserrat-regular;
	font-size: 24px;
	font-weight: 300;
	line-height: 20px;
	padding: 9px 10px 9px 11px;
}
.post-data-day{
	border-radius: 0 0 3px 3px;
	background-color: #252525;
	color: #ffffff;
	font-family: roboto-regular;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	padding: 6px 13px 7px 14px;
}	
.post-btn-wrapper{
	margin: 0 0 0 50%;
}
.post-btn{
	width: 22px;
	height: 22px;
	border: none;
    outline: none;
    background: #fff;
 }
.post-btn-img{
	border: none;
    outline: none;
    background: none;
    fill: #d1d1d1;
}
.post-btn-img:hover{
	fill: #cab79f;
}
.partner{
 	width: 100%;
 	background-image: url(img_css/background-5.png);
 	padding: 0 0 0 406px;
 	box-sizing: border-box;
 	background-repeat: no-repeat;
 	background-size: cover;
 	
 }
.partner-logo{
	margin: 189px 90px 180px 0;
}
.footer{

}
.footer-content{
	display: flex;
	background-image: url(img_css/Background-4.png);
	justify-content: center;
	padding: 107px 0 0 0;
	position: relative;
}
.footer-content-wrapper-1{
	width: 258px;
	margin:0 30px 0 0;
	position: relative;
}
.footer-content-logo{
	fill: #ffffff;
}
.footer-content-text{
	color: #ffffff;
	font-family: raleway-regular;
	font-size: 34px;
	font-weight: 400;
	
}
.footer-content-wrapper-1-text{
	color: #555555;
	font-family: montserrat-regular;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	
}
.footer-content-wrapper-1-link{
	color: #d1d1d1;
	font-family: montserrat-regular;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-decoration: none;
}
.footer-content-wrapper-1-link:after{
	border: 4px solid transparent;
    border-left: 5px solid #d1d1d1;
    content: "";
    position: absolute;
    margin: 8px 0px 0px 10px;
}
.footer-content-wrapper-2{
	width: 271px;
	margin:0 30px 0 0;
}
.footer-content-wrapper-2-header{
	color: #ffffff;
	font-family: raleway-regular;
	font-size: 24px;
	font-weight: 700;
	margin: 14px 0 32px 0;
}
.footer-content-wrapper-2-data{
	color: #363636;
	font-family: montserrat-regular;
	font-size: 12px;
	font-weight: 300;
	line-height: 20px;
	
}
.footer-content-wrapper-2-text{
	color: #555555;
	font-family:  montserrat-regular;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	margin: 0 0 10px 0;
	text-decoration: none;
	
}

.footer-content-wrapper-2-div{
	display: grid;
	

}
.footer-content-wrapper-2-div:nth-child(2){
	border-bottom: 1px solid #252525;
	margin: 21px 0 20px 0 ;
}
.footer-content-wrapper-2-div:nth-child(3){
	border-bottom: 1px solid #252525;
	margin: 21px 0 20px 0;
}


.footer-content-wrapper-2-div:hover .footer-content-wrapper-2-data{
	color: #c7b299;
}
.footer-content-wrapper-2-div:hover .footer-content-wrapper-2-text{
	color: #ffffff;

}
.footer-content-wrapper-3{
	width: 272px;
	margin:0 30px 0 0;
	
}
.footer-content-wrapper-3-div{
 	margin: 0 0 0 0;
}
.footer-content-wrapper-3-header{
	color: #ffffff;
	font-family: raleway-regular;
	font-size: 24px;
	font-weight: 700;
	margin: 14px 0 30px 0;
}
.footer-content-wrapper-3-text{
	color: #555555;
	font-family: montserrat-regular;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	margin: 10px 0 11px 0;
}	
.footer-content-wrapper-3-div:nth-child(2){
	border-bottom: 1px solid #252525;
	
}
.footer-content-wrapper-3-div:nth-child(3){
	border-bottom: 1px solid #252525;
	
}

.footer-content-wrapper-3-text-nick{
	color: #00bff3;
	text-decoration: none;
}
.footer-content-wrapper-3-time{
	color: #363636;
	font-family:  montserrat-regular;
	font-size: 12px;
	font-weight: 300;
	line-height: 20px;
}
.footer-content-wrapper-3-text-link{
	color: #959595;
	text-decoration: none;
}
.footer-content-wrapper-4{
	width: 271px;
	margin:0 30px 0 0;
}
.footer-content-wrapper-4-header{
	color: #ffffff;
	font-family: raleway-regular;
	font-size: 24px;
	font-weight: 700;
	margin: 14px 0 26px 0;
}
.footer-copy{
	width: 100%;
	height: 111px;
	display: flex;
	justify-content: space-evenly;
	background-image: url(img_css/background-7.png);
	box-sizing: border-box;
 	background-repeat: no-repeat;
 	background-size: cover;
}   
.footer-copy-content{
	margin: 52px 0 42px 0;
}
.footer-copy-content-text{
	color: #555555;
	font-family: montserrat-regular;
	font-size: 13px;
	font-weight: 300;
	line-height: 20px;
}
.footer-copy-content-waxom{
	color: #959595;
	font-family: montserrat-regular;
	font-size: 13px;
	font-weight: 300;
	line-height: 20px;
	text-decoration: none;
	margin: 0 7px 0 3px;
	padding: 0 11px 0 0; 
	border-right: 1px solid #252525;
	
}
.footer-copy-content-faq{
	color: #959595;
	font-family: montserrat-regular;
	font-size: 13px;
	font-weight: 300;
	line-height: 20px;
	text-decoration: none;
	border-left: 1px solid #252525;
	border-right: 1px solid #252525;
	padding: 0 12px 0 12px;
	margin: 0 7px 0 7px;
}
.footer-copy-content-link{
	color: #959595;
	font-family: montserrat-regular;
	font-size: 13px;
	font-weight: 300;
	line-height: 20px;
	text-decoration: none;
	margin: 0 0px 0px 9px;
}
.footer-copy-content-link:1th-child{
	border-right: 1px solid #252525;
	padding: 0 11px 0 0; 

}
.footer-copy-content-waxom:hover,
.footer-copy-content-faq:hover,
.footer-copy-content-link:hover{
	color: #c7b299;
}

@media (min-width: 320px) and (max-width: 605px) {
  	.container {
    	width: 605px;
    	/*overflow-y: hidden;*/
    	border: 2px solid red;
  	}
  	.header{
		width: 605px;
		height: 133px;
	}
	.header-logo{
		margin: 35px 0px 0px 39px;
	}
	.header-section{
		display: none;
	}
	.header-pagination{
		display: none;
	}
	.services-figcap{
		margin: 20px 34px 70px 0;
	}
	.browser {
		display: none;
	}
	.advertising {
		display: none;
	}
	.project-menu{
		display: none;
	}
	.project-text{
		width: 605px;
	}
	.project-img{
		display: none;
	}
	.project-more{
		display: none;
	}
	.video{
		border: 1px solid blue;
		
	}
	.video-poster{
		object-fit: fill;	
	}
	.mobile{
		width: 605px;
		border: 1px solid green;

	}
	.mobile-img{
		display: none;
	}
	.mobile-content{
		margin: 0 0 0 0;
		background-image: url(../img/iPhone_in_hand.png);
		background-repeat: no-repeat;
		background-size: 180px;
		height: 465px;
		width: 605px;
		background-position-y: bottom;
		background-position-x: 30px;

	}
	.mobile-content-title{
		text-align: center;
		margin: 20px 0 8px 0;
	}
	.mobile-content-text {
		margin: 0 0 0 0;
		width: 605px;
		font-size: 12px;
	}
	.mobile-content-list{
		margin: 20px 0 0 209px;
		
	}
	.mobile-content-list li{
		font-size: 9px;
	}
	.counters{
		display: none;
	}
	.post{
		width: 605px;
		display: block;
	}
	.post-header{
		margin: 30px 0 0 0;
	}
	.post-text{
		width: 605px;
		margin: 0 0 0 0;
	}
	.post-wrapper{
		display: block;
	}
	.post-content{
		width: 370px;
		margin: 0 30px 39px 96px;
	}
	.post-btn-wrapper{
		display: none;
	}
	.partner{
		width: 605px;
		height: 240px;
		padding: 0 0 0 0;
	}
	.partner-logo{
		margin:0 0 0 0;
		margin: 86px 15px 0 38px;
   		height: 26%;
	}
	.post-btn-wrapper{
		margin: 0 0 0 0;
	}
	.footer-content{
		display: none;
	}
}